*.zip filter=lfs diff=lfs merge=lfs -text
*.bg.zip !text !filter !merge !diff
*.icon.zip !text !filter !merge !diff
*.over.zip !text !filter !merge !diff
small_files.txt !text !filter !merge !diff
* !text !filter !merge !diff
Packages/themes/Game-Rentals.theme.zip filter=lfs diff=lfs merge=lfs -text
Upload/Game-Rentals.theme.zip filter=lfs diff=lfs merge=lfs -text
